.navbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  box-shadow: 0 2px 4px rgba(182, 181, 181, 0.1);
}

.title {
  font-size: 1.2rem;
  font-weight: 500;
  margin-left: 8px;
}

.spacer {
  flex: 1 1 auto;
}

button {
  margin-left: 8px;
  
  mat-icon {
    margin-right: 4px;
  }
}

.active-link {
  background-color: rgba(47, 45, 45, 0.1);
}
